# Default ignored files
*.out
*.txt
*.py
!CMakeLists.txt
tmp*
*test*
# Datasource local storage ignored files
cmake-*/
.idea/
# Editor-based HTTP Client requests
/httpRequests/
/cmake-mingw/
/venv/
/DA lab6/report/
